@font-face {
  font-family: "ChampagneBold";
  src: url("home/ChampagneLimousinesBold.ttf") format("truetype");
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
}

/* Cabeçalho */
.cabecalho {
  background-color: #f0d859;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo img {
  height: 78px;
}

.menu a {
  margin-left: 30px;
  text-decoration: none;
  font-size: 16px;
  color: #000;
  font-weight: 500;
}

/* Fundo principal, colocar imagem de fundo*/
.conteudo {
  background: linear-gradient(
      to bottom,
      rgba(27, 92, 165, 0.9),
      rgba(77, 165, 216, 0.9)
    ),
    url("assets/imagem-de-fundo.png");
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  gap: 20px;
}

/* Título */
.titulo {
  font-size: 32px;
  font-weight: bold;
  color: #f0d859;
}

/* Campo de busca */
.busca {
  position: relative;
  width: 300px;
}

.busca .icone-lupa {
  position: absolute;
  top: 9px;
  left: 10px;
  font-size: 20px;
}

.busca input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border: 1px solid #000;
  border-radius: 5px;
  font-weight: bold;
}

/* Imagem do centro */
.imagem-unidades img {
  width: 80px;
  height: 80px;
}

/* Lista de unidades */
.lista-unidades {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  max-width: 700px;
}

.unidade {
  background-color: #7fc0e2;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-radius: 8px;
  justify-content: space-between;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.unidade .icone {
  background-color: #ccc;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.descricao {
  flex-grow: 1;
  margin-left: 20px;
  font-size: 14px;
  color: #000;
}

.detalhes {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

/*OBS:VERIFICAR SE A ESTILIZAÇÃO FEITA ESTÁ CORRETA, CORES,FONTE E TAMANHOS. IMPLEMENTAR IMAGEM DE FUNDO E POSICIONAR OS ITENS CORRETAMENTE*/
