body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background: linear-gradient(
      to bottom,
      rgba(27, 92, 165, 0.75),
      rgba(77, 165, 216, 0.75)
    ),
    url("../assets/imagem-de-fundo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: #333;
}

/* Cabeçalho */
header {
  background-color: #f0d859;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.logo img {
  height: 40px;
}

.menu a {
  margin: 0 10px;
  text-decoration: none;
  color: #374A52;
  font-weight: bold;
}

/* Container */
.container {
  padding: 40px 20px;
  text-align: center;
  position: relative;
}

h1 {
  color: #f0d859;
  font-size: 36px;
  margin-bottom: 40px;
}

/* Notificação */
.notification-icon {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 2;
}

.notification-icon .circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #f0d859;
  border-radius: 50%;
  top: -10px;
  left: -10px;
  z-index: 0;
}

.notification-icon img {
  width: 30px;
  position: relative;
  z-index: 1;
}

/* Cartões */
.card {
  background: #F0D859;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
}

.card .date {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
}

.card h2 {
  font-size: 18px;
  color: #1b5ca5;
  margin: 0 0 5px;
}

.card h2 span {
  font-weight: normal;
}

.card p {
  margin: 0 0 15px;
  font-size: 14px;
  color: #333;
}

.btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 16px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  width: 120px;
  height: 40px;
  border-radius: 13px;
  cursor: pointer;
}

/* Botões com cores específicas */
.btn.disponivel {
  background-color: #1b5ca5;
  color: white;
}

.btn.aguardando {
  background-color: #4da5d8;
  color: white;
}

/* Texto colorido do status */
/*.disponivel {
  color: green;
}

.pendente {
  color: red;
}*/
